body {
  padding-top: 7px;
  background-color: #e0f5fd;
}
body .container {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
body header .tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body header .tools .tool {
  padding-left: 12px;
  padding-right: 12px;
}
body header .tools .tool:not(:last-child) {
  position: relative;
}
body header .tools .tool:not(:last-child)::after {
  content: "|";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #626465;
}
body header .tools .tool a {
  color: #626465;
  text-decoration: none;
  font-size: 12px;
}
body header .tools .tool a:hover {
  opacity: 0.6;
}
body header .header-menu {
  margin-top: 13px;
  display: flex;
  align-items: center;
}
body header .header-menu .logo {
  margin-right: 50px;
}
body header .header-menu .menus {
  flex: auto;
  display: flex;
  align-items: center;
}
body header .header-menu .menus .menu-2 {
  line-height: 1;
  background-color: #f2f5bb;
  text-align: center;
  padding: 8px 0;
  width: 132px;
  box-shadow: 0px 4px 4px 0 grey;
  cursor: pointer;
}
body header .header-menu .menus .menu-2:hover {
  opacity: 0.6;
}
body header .header-menu .menus .menu-3 {
  margin-left: auto;
  background-color: #ffedb6;
  outline: 3px solid #fecc34;
  text-align: center;
  padding: 8px 0;
  width: 132px;
  box-shadow: 0px 4px 4px 0 grey;
  cursor: pointer;
  line-height: 1;
}
body header .header-menu .menus .menu-3:hover {
  opacity: 0.6;
}
body header .header-menu .menus .menu {
  text-align: center;
  border-top: 2px solid;
  width: 132px;
  background-color: white;
  padding: 8px 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 4px;
  line-height: 1;
}
body header .header-menu .menus .menu span {
  font-size: 13px;
  font-weight: bold;
}
body header .header-menu .menus .menu-dropdown {
  position: relative;
}
body header .header-menu .menus .menu-dropdown::after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-image: url("./assets/dropdown.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 23px;
  right: 8px;
}
body header .header-menu .menus .menu-dropdown .drop-item {
  background-color: white;
  min-width: 100%;
  height: 0;
  top: 100%;
  overflow: hidden;
  position: absolute;
}
body header .header-menu .menus .menu-dropdown .drop-item ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}
body header .header-menu .menus .menu-dropdown .drop-item ul li {
  font-size: 15px;
  text-align: center;
  min-height: 32px;
  border: 1px solid rgba(128, 128, 128, 0.527);
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .header-menu .menus .menu-dropdown .drop-item ul li:hover {
  opacity: 0.6;
}
body header .header-menu .menus .menu-dropdown:hover .drop-item {
  height: auto;
}
body main h1 {
  color: #002156;
  margin: 0;
  font-weight: bold;
  padding-bottom: 4px;
  margin-top: 18px;
}
body main .banner {
  margin-top: 40px;
}
body main .banner img {
  max-width: 100%;
}
body main .main-area {
  margin-top: 40px;
  display: flex;
}
body main .main-area .col-l {
  margin-right: 8px;
  flex: 1 0 80%;
}
body main .main-area .col-l .search {
  width: 100%;
  background-color: #ffedb6;
  display: flex;
}
body main .main-area .col-l .search .search-l {
  flex: 0 0 156px;
  font-size: 32px;
  font-weight: bold;
}
body main .main-area .col-l .search .search-l .tab {
  cursor: pointer;
  line-height: 1;
  padding: 14px;
}
body main .main-area .col-l .search .search-l .tab:not(.active) {
  background-color: white;
}
body main .main-area .col-l .search .search-r {
  flex: 1 0 auto;
  padding: 14px 14px 14px 40px;
}
body main .main-area .col-l .search .search-r input {
  display: block;
  width: 100%;
  height: 53px;
  font-size: 24px;
  border: 1px solid;
  outline: 0px solid;
}
body main .main-area .col-l .search a img {
  width: 100%;
  height: 100%;
}
body main .main-area .col-l .search a img:hover {
  opacity: 0.6;
}
body main .main-area .col-l .breadcrumb {
  margin-top: 32px;
  color: #626465;
  text-decoration: none;
  font-size: 12px;
  line-height: 1;
}
body main .main-area .col-l .breadcrumb a {
  color: #626465;
  text-decoration: none;
  font-size: 12px;
  line-height: 1;
}
body main .main-area .col-l .breadcrumb a:hover {
  opacity: 0.6;
}
body main .main-area .col-l .courses .accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
body main .main-area .col-l .courses .accordion-header {
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
  border: 0;
  background-color: white;
}
body main .main-area .col-l .courses .accordion-header::after {
  display: block;
  content: "";
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("./assets/btn.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body main .main-area .col-l .courses .accordion-header .header {
  display: flex;
  align-items: center;
  position: relative;
}
body main .main-area .col-l .courses .accordion-header .header .buttons {
  position: absolute;
  left: 345px;
  font-size: 16px;
}
body main .main-area .col-l .courses .accordion-header .header .buttons span {
  padding: 0 8px;
}
body main .main-area .col-l .courses .accordion-header h2 {
  color: #002156;
  font-weight: 700;
  margin: 0;
  font-size: 32px;
}
body main .main-area .col-l .courses .accordion-content {
  display: none;
}
body main .main-area .col-l .courses .accordion-content table {
  border-collapse: collapse;
  width: 100%;
}
body main .main-area .col-l .courses .accordion-content table thead {
  background-color: #b2e7fa;
  text-align: left;
}
body main .main-area .col-l .courses .accordion-content table thead .courseList_col-refno {
  width: 125px;
  text-align: left;
  padding-left: 10px;
}
body main .main-area .col-l .courses .accordion-content table thead .courseList_col-name {
  width: 340px;
}
body main .main-area .col-l .courses .accordion-content table tbody {
  background-color: white;
}
body main .main-area .col-l .courses .accordion-content table tbody .courseList_col-refno {
  padding-left: 10px;
}
body main .main-area .col-l .courses .accordion-content table tbody tr {
  height: 35px;
}
body main .main-area .col-l .courses .accordion-content table tbody tr:hover {
  opacity: 0.6;
}
body main .main-area .col-l .courses .accordion-content table tbody a {
  color: #383838;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
}
body main .main-area .col-l .quick-link {
  font-size: 12px;
}
body main .main-area .col-l .quick-link a {
  color: #383838;
}
body main .main-area .col-r {
  margin-left: 8px;
  flex: 1 0 20%;
}
body main .main-area .col-r .wrapper > * {
  margin-bottom: 16px;
}
body footer {
  background-color: white;
}
body footer .sitemap .container {
  display: flex;
}
body footer .sitemap .container .sitemap_col {
  flex: 1 0 25%;
  font-size: 12px;
  color: #383838;
}
body footer .sitemap .container .sitemap_col * {
  color: inherit;
}
body footer .sitemap .container .sitemap_col a {
  line-height: 1.8;
}
body footer .sitemap .container .sitemap_col ul {
  padding-left: 24px;
}
body footer .sitemap img.icon {
  height: 24px;
}
body footer .sitemap li article.socials {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
body footer .sitemap li article.socials img.icon {
  margin-right: 8px;
}
body footer .sitemap li article.apps {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
body footer .sitemap li article.apps .apps-apps {
  height: 32px;
}
body footer .sitemap li article.apps img.icon {
  margin-right: 8px;
}
body footer .footer_extra {
  padding: 16px;
}
body footer .footer_extra .container .apps {
  display: flex;
  align-items: center;
}
body footer .footer_extra img.icon {
  height: 32px;
  margin-right: 12px;
}
body footer .footer_extra a {
  display: inline-block;
}
body footer .footer_bottom {
  padding-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
}
body footer .footer_bottom .container {
  border-top: 1px solid #919191;
  padding-top: 8px;
}
body footer .footer_bottom .listText {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  padding-top: 8px;
  margin-bottom: 12px;
}
body footer .footer_bottom .listText li {
  margin-right: 8px;
  font-size: 12px;
}
body footer .footer_bottom .listText li a {
  color: #383838;
}
body footer .footer_bottom .copyright {
  font-size: 12px;
  margin: 0;
}
body footer .footer_bottom .bestview {
  font-size: 12px;
  margin: 0;
}
@media only screen and (max-width: 1080px) {
  body {
    padding-top: 0;
  }
  body h1 {
    font-size: 18px;
  }
  body header {
    z-index: 2;
    position: relative;
    box-shadow: 1px 1px 6px 4px #d9d9d9;
    background-color: white;
  }
  body header .tools {
    display: none;
  }
  body header .header-menu {
    margin-top: 0;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body header .header-menu .menus {
    display: none;
  }
  body .main-area {
    flex-wrap: wrap;
  }
  body .main-area .col-l {
    flex: 1 0 100%;
    margin-right: 0 !important;
  }
  body .main-area .col-l > .search {
    background-color: transparent !important;
    flex-direction: column;
  }
  body .main-area .col-l > .search .search-l {
    flex: 1 0 auto !important;
    display: flex;
    background-color: transparent;
  }
  body .main-area .col-l > .search .search-l .tab {
    font-size: 16px;
  }
  body .main-area .col-l > .search .search-l .tab.active {
    background-color: #ffedb6;
  }
  body .main-area .col-l > .search .search-r {
    background-color: #ffedb6;
    padding: 14px 14px 14px 14px !important;
  }
  body .main-area .col-l > .search .search-r .search {
    display: flex;
    height: 32px !important;
  }
  body .main-area .col-l > .search .search-r .search input {
    height: 32px !important;
  }
  body .main-area .col-l .courses .accordion .accordion-item .accordion-header .header h2 {
    font-size: 18px;
  }
  body .main-area .col-l .courses .accordion .accordion-item .accordion-header .header .buttons {
    display: none;
  }
  body .main-area .col-l .courses .accordion .accordion-item .accordion-header::after {
    background-image: url("./assets/Frame2.svg");
    background-size: contain;
    background-size: 18px 24px;
    width: 50px;
  }
  body .main-area .col-l .courses .accordion .accordion-item .accordion-content table thead .courseList_col-place {
    display: none;
  }
  body .main-area .col-l .courses .accordion .accordion-item .accordion-content table thead th {
    font-size: 16px;
  }
  body .main-area .col-l .courses .accordion .accordion-item .accordion-content table thead th.courseList_col-refno {
    width: 80px;
  }
  body .main-area .col-l .courses .accordion .accordion-item .accordion-content table thead th.courseList_col-name {
    width: 150px;
  }
  body .main-area .col-l .courses .accordion .accordion-item .accordion-content table tbody tr {
    border-bottom: 1px solid #636465;
  }
  body .main-area .col-l .courses .accordion .accordion-item .accordion-content table tbody tr td a {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
  }
  body .main-area .col-r {
    margin-left: 0 !important;
    flex: 1 0 100% !important;
    margin: 0 -16px 0 -16px !important;
  }
  body .main-area .col-r .wrapper {
    display: none;
  }
  body .main-area .col-r .wrapper-2 {
    display: flex;
  }
  body .main-area .col-r .wrapper-2 .l {
    flex: 0 1 108px;
  }
  body .main-area .col-r .wrapper-2 .m {
    flex: 0 1 123px;
  }
  body .main-area .col-r .wrapper-2 .r {
    flex: 0 1 137px;
  }
  body .main-area .col-r .wrapper-2 .r iframe {
    width: 100%;
  }
  body footer .sitemap .container {
    flex-wrap: wrap;
  }
  body footer .sitemap .container .sitemap_col {
    flex: 1 0 50%;
    border-bottom: 1px solid;
  }
}

.hamburger-menu {
  cursor: pointer;
}

@media only screen and (min-width: 1081px) {
  .show-mb {
    display: none;
  }
}
@media only screen and (max-width: 1080px) {
  .show-mb {
    display: block;
  }
}

.noScroll {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */